@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-inter: var(--font-inter);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-inter), sans-serif;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/hero1.jpg");
  height: 90vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero2 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../assets/hero2.png");

  height: 60vh;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/banner.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}

@media (max-width: 1554px) {
  .drop-down {
    left: 991px;
  }
  /* .arrow-up{
    left: 50.4em
  } */
}

.earning {
  background-image: url("../assets/man.png");
  /* height: 548px;
  width: 80%; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1374px) {
  .drop-down {
    left: 50.5em;
  }
}
@media (max-width: 1084px) {
  .drop-down {
    left: 30.5em;
  }
}

html {
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
